# Ignore Python virtual environments
.venv/
venv/
env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore build artifacts
*.log
*.tmp
*.swp

# Ignore Git
.git/
.gitignore

# Ignore local configs & secrets
*.env
cloudrun-env.yaml

# Ignore IDE/editor settings
.vscode/
.idea/
*.iml
